footer{
    background-color: #212529 ;
    padding: 2rem 0;
    color: #fff;
}
.footer-container{
    display: flex;
    text-align: justify;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    flex-wrap: wrap;
}
.footer-column {
    flex: 1;
    padding: 0 1rem;
    padding-bottom: 10px;
}
.footer-column h3 {
    color: goldenrod;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 1rem;
}
.footer-column p,
.footer-column ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
.footer-column a {
    line-height: 2;
    color: #fff;
    text-decoration: none;
    transition: all .35s ease;
}
.footer-column a:hover {
    font-size: 15px;
    color: goldenrod;
    text-decoration: none;
}
.footer-copyright {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0.8rem;
    color: #6c757d;
}